<!DOCTYPE html>
<html>
<head>
  <title>Rayleigh: Search by multiple colors</title>
  <link href="/static/css/main.css" media="all" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div id="content">
    <div id="colors">
      <p>Possible colors:</p>
      <p>
<a id="#ffe6e6"><span style="background-color: #ffe6e6" /></a>
<a id="#fff2e6"><span style="background-color: #fff2e6" /></a>
<a id="#ffffe6"><span style="background-color: #ffffe6" /></a>
<a id="#f2ffe6"><span style="background-color: #f2ffe6" /></a>
<a id="#e6ffe6"><span style="background-color: #e6ffe6" /></a>
<a id="#e6fff2"><span style="background-color: #e6fff2" /></a>
<a id="#e6ffff"><span style="background-color: #e6ffff" /></a>
<a id="#e6f2ff"><span style="background-color: #e6f2ff" /></a>
<a id="#e6e6ff"><span style="background-color: #e6e6ff" /></a>
<a id="#f2e6ff"><span style="background-color: #f2e6ff" /></a>
<a id="#ffe6ff"><span style="background-color: #ffe6ff" /></a>
<a id="#ffe6f2"><span style="background-color: #ffe6f2" /></a>
<a id="#ffe6e6"><span style="background-color: #ffe6e6" /></a>
<br />
<a id="#ffa6a6"><span style="background-color: #ffa6a6" /></a>
<a id="#ffd2a6"><span style="background-color: #ffd2a6" /></a>
<a id="#ffffa6"><span style="background-color: #ffffa6" /></a>
<a id="#d2ffa6"><span style="background-color: #d2ffa6" /></a>
<a id="#a6ffa6"><span style="background-color: #a6ffa6" /></a>
<a id="#a6ffd2"><span style="background-color: #a6ffd2" /></a>
<a id="#a6ffff"><span style="background-color: #a6ffff" /></a>
<a id="#a6d2ff"><span style="background-color: #a6d2ff" /></a>
<a id="#a6a6ff"><span style="background-color: #a6a6ff" /></a>
<a id="#d2a6ff"><span style="background-color: #d2a6ff" /></a>
<a id="#ffa6ff"><span style="background-color: #ffa6ff" /></a>
<a id="#ffa6d2"><span style="background-color: #ffa6d2" /></a>
<a id="#ffa6a6"><span style="background-color: #ffa6a6" /></a>
<br />
<a id="#ff6666"><span style="background-color: #ff6666" /></a>
<a id="#ffb266"><span style="background-color: #ffb266" /></a>
<a id="#ffff66"><span style="background-color: #ffff66" /></a>
<a id="#b2ff66"><span style="background-color: #b2ff66" /></a>
<a id="#66ff66"><span style="background-color: #66ff66" /></a>
<a id="#66ffb2"><span style="background-color: #66ffb2" /></a>
<a id="#66ffff"><span style="background-color: #66ffff" /></a>
<a id="#66b3ff"><span style="background-color: #66b3ff" /></a>
<a id="#6666ff"><span style="background-color: #6666ff" /></a>
<a id="#b266ff"><span style="background-color: #b266ff" /></a>
<a id="#ff66ff"><span style="background-color: #ff66ff" /></a>
<a id="#ff66b2"><span style="background-color: #ff66b2" /></a>
<a id="#ff6666"><span style="background-color: #ff6666" /></a>
<br />
<a id="#ff0000"><span style="background-color: #ff0000" /></a>
<a id="#ff8000"><span style="background-color: #ff8000" /></a>
<a id="#ffff00"><span style="background-color: #ffff00" /></a>
<a id="#80ff00"><span style="background-color: #80ff00" /></a>
<a id="#00ff00"><span style="background-color: #00ff00" /></a>
<a id="#00ff80"><span style="background-color: #00ff80" /></a>
<a id="#00ffff"><span style="background-color: #00ffff" /></a>
<a id="#0080ff"><span style="background-color: #0080ff" /></a>
<a id="#0000ff"><span style="background-color: #0000ff" /></a>
<a id="#8000ff"><span style="background-color: #8000ff" /></a>
<a id="#ff00ff"><span style="background-color: #ff00ff" /></a>
<a id="#ff0080"><span style="background-color: #ff0080" /></a>
<a id="#ff0000"><span style="background-color: #ff0000" /></a>
<br />
<a id="#cc0000"><span style="background-color: #cc0000" /></a>
<a id="#cc6600"><span style="background-color: #cc6600" /></a>
<a id="#cccc00"><span style="background-color: #cccc00" /></a>
<a id="#66cc00"><span style="background-color: #66cc00" /></a>
<a id="#00cc00"><span style="background-color: #00cc00" /></a>
<a id="#00cc66"><span style="background-color: #00cc66" /></a>
<a id="#00cccc"><span style="background-color: #00cccc" /></a>
<a id="#0066cc"><span style="background-color: #0066cc" /></a>
<a id="#0000cc"><span style="background-color: #0000cc" /></a>
<a id="#6600cc"><span style="background-color: #6600cc" /></a>
<a id="#cc00cc"><span style="background-color: #cc00cc" /></a>
<a id="#cc0066"><span style="background-color: #cc0066" /></a>
<a id="#cc0000"><span style="background-color: #cc0000" /></a>
<br />
<a id="#8c0000"><span style="background-color: #8c0000" /></a>
<a id="#8c4600"><span style="background-color: #8c4600" /></a>
<a id="#8c8c00"><span style="background-color: #8c8c00" /></a>
<a id="#468c00"><span style="background-color: #468c00" /></a>
<a id="#008c00"><span style="background-color: #008c00" /></a>
<a id="#008c46"><span style="background-color: #008c46" /></a>
<a id="#008c8c"><span style="background-color: #008c8c" /></a>
<a id="#00468c"><span style="background-color: #00468c" /></a>
<a id="#00008c"><span style="background-color: #00008c" /></a>
<a id="#46008c"><span style="background-color: #46008c" /></a>
<a id="#8c008c"><span style="background-color: #8c008c" /></a>
<a id="#8c0046"><span style="background-color: #8c0046" /></a>
<a id="#8c0000"><span style="background-color: #8c0000" /></a>
<br />
<a id="#4c0000"><span style="background-color: #4c0000" /></a>
<a id="#4c2600"><span style="background-color: #4c2600" /></a>
<a id="#4c4c00"><span style="background-color: #4c4c00" /></a>
<a id="#264c00"><span style="background-color: #264c00" /></a>
<a id="#004c00"><span style="background-color: #004c00" /></a>
<a id="#004c26"><span style="background-color: #004c26" /></a>
<a id="#004c4c"><span style="background-color: #004c4c" /></a>
<a id="#00264c"><span style="background-color: #00264c" /></a>
<a id="#00004c"><span style="background-color: #00004c" /></a>
<a id="#26004c"><span style="background-color: #26004c" /></a>
<a id="#4c004c"><span style="background-color: #4c004c" /></a>
<a id="#4c0026"><span style="background-color: #4c0026" /></a>
<a id="#4c0000"><span style="background-color: #4c0000" /></a>
<br />
<a id="#000000"><span style="background-color: #000000" /></a>
<a id="#151515"><span style="background-color: #151515" /></a>
<a id="#2a2a2a"><span style="background-color: #2a2a2a" /></a>
<a id="#404040"><span style="background-color: #404040" /></a>
<a id="#555555"><span style="background-color: #555555" /></a>
<a id="#6a6a6a"><span style="background-color: #6a6a6a" /></a>
<a id="#808080"><span style="background-color: #808080" /></a>
<a id="#959595"><span style="background-color: #959595" /></a>
<a id="#aaaaaa"><span style="background-color: #aaaaaa" /></a>
<a id="#bfbfbf"><span style="background-color: #bfbfbf" /></a>
<a id="#d4d4d4"><span style="background-color: #d4d4d4" /></a>
<a id="#eaeaea"><span style="background-color: #eaeaea" /></a>
<a id="#ffffff"><span style="background-color: #ffffff" /></a>
<br />
      </p>
      <p>
      <form id="selected-colors-submit" method="get" action="/images">
        <input type="hidden" id="colors" name="colors" value="" />
        <input id="submitButton" type="submit" value="Search" onClick="getImages(); return false;" />
      </form>
      </p>
    </div>
    <div id="images">
      Images that match the colors:
    </div>
  </div>
  <script src="/static/js/ext/jquery-1.8.3.js"></script>
  <script>
    $(document).ready(function() {
      console.log("The palette is:", $('#colors a').map(function(i,el) { return el.id; }));

      getImages = function(event) {
        var colors = Object.keys(selected_colors);
        $.getJSON('/images', data={colors: colors.join(',')},
          success=function(json_data) {
            console.log("Received: ", json_data);

            items = [];
            $.each(json_data, function(i, val) {
              filename = val['filename'].replace('/Volumes/WD Data/', '/static/')
              items.push('<img src="' + filename + '" alt="' + val['distance'] + '" width="'+val['width']/2+'" height="'+val['height']/2+'" />');
            });
            console.log(items);

            $('#images').html(items.join(''));
        });
      }

      selected_colors = {};

      var toggleSelected = function(event) {
        if (this.getAttribute('class') == 'selected') {
          delete(selected_colors[this.id]);
          this.setAttribute('class', '');
        } else {
          selected_colors[this.id] = 1;
          this.setAttribute('class', 'selected');
        }
        console.log("Selected colors:");
        console.log(selected_colors);
        $('#colors input')[0].value = Object.keys(selected_colors);
      };

      $('a').each(function(i,el) {
        el.onclick = toggleSelected;  
      });

      
    });
  </script>
</body>
</html>
