<!DOCTYPE html>
<html>
<head>
  <title>Rayleigh: Search by multiple colors</title>
  <link href="/static/main.css" media="all" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div id="content">
    <!-- The left sidebar: palette selection and histogram display. -->
    <div id="search_sidebar">
      <div id="palette_search">
        <form id="palette_search_form" method="get" action="/search_with_palette">
          <div id="palette_search_form_colors">
            <h3>Colors</h3>
            {% include 'palette.html' %}
            <input type="hidden" id="palette_search_form_hidden_colors" name="colors" value="" />
            <!--<input type="hidden" id="palette_search_form_hidden_values" name="values" value="" />-->
          </div>
          <div id="palette_search_form_sic_types">
            <h3>Algorithm</h3>
            {% for st in sic_types %}
              <input type="radio" name="sic_type" value={{ st }} {{ 'checked' if st == sic_type else '' }}>{{ st }}<br />
            {% endfor %}
          </div>
          <input id="palette_search_form_submit" type="submit" value="Search" />
        </form>
      </div>
      <hr />
      <div id="palette_histogram">
        <h3>Palette histogram</h3>
        <div id="palette_query"></div>
      </div>
    </div>

    <!-- Main area: returned images. -->
    <div id="images">
      <h3>Matching images</h3>
    </div>
  </div>
  <script src="/static/jquery-1.8.3.js"></script>
  <script src="/static/sprintf-0.7-beta1.js"></script>
  <script>
    // Add a simple URL query string parser to jQuery.
    $.urlParam = function (name){
      var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(window.location.href);
      if (!results) { return 0; }
      return results[1] || 0;
    }

    $(document).ready(function() {
      /* Prepare the color palette search form. */
      var sic_type = "{{ sic_type }}";
      var colors = {{ colors }} || {};
      colors_str = Object.keys(colors).join(',');
      $('#palette_search_form_hidden_colors').val(colors_str);

      // Display the initial selected colors.
      $.each(colors, function(key, val) {
        document.getElementById(key).setAttribute('class', 'selected');
      });

      // Add selection toggles to all the colors in the palette.
      // Selection toggles update the UI and set the hidden 'colors' input field.
      var toggleSelected = function(event) {
        if (this.getAttribute('class') == 'selected') {
          delete(colors[this.id]);
          this.setAttribute('class', '');
        } else {
          colors[this.id] = 1;
          this.setAttribute('class', 'selected');
        }
        colors_str = Object.keys(colors).join(',');
        $('#palette_search_form_hidden_colors').val(colors_str);
      };
      $('a').each(function(i,el) {
        el.onclick = toggleSelected;
      });

      /* Make the request for the palette query histogram and image results. */
      var display_results = function(json_data) {
        // Display palette query histogram.
        var pq_hist = '<img width="90%" src="data:image/png;base64,' + json_data['pq_hist'] + '" >Test</img>';
        $('#palette_query').html(pq_hist);
        
        // Display image results.
        var items = $.map(json_data['results'], function(val, i) {
          var id = val['id'];
          var url = val['url'];

          var histogram_url = sprintf('/image_histogram/%s.png', id);
          var a_histogram = sprintf('<a href="%s">histogram</a>', histogram_url);

          var palette_url = sprintf('/palette_image/%s.png', id);
          var a_palette = sprintf('<a href="%s">palette</a>', palette_url);
          
          //var onclick = sprintf('getSimilarImages(\'%s\'); return false;', id);
          //var a_similar = sprintf('<a href="#" onclick="%s">similar</a>', onclick);
          
          var img = sprintf('<img src="%s" alt="%.3f" width="%d" height="%d" />',
            url, val['distance'], val['width']/2, val['height']/2);
          var links = [a_histogram, a_palette].join(' | ');
          
          return sprintf('<div class="result">%s<br />%s</div>', img, links)
        });
        $('#images').html(items.join(''));
      }
      $.getJSON('/search_with_palette_json',
        data = {
            'sic_type': sic_type,
            'colors': Object.keys(colors).join(',')},
        success=display_results);
    });
  </script>
</body>
</html>
