h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
p+p {
  margin-top: 10px;
}
h3 {
  font-weight: bold;
  font-size: 100%;
}
ol, ul {
  list-style-type: disc;
  padding-left: 2em;
}
a img {
  border: none;
}

html {
  background: #eeeeee;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  background: #eeeeee;
  color: #333333;
}

#images {
  float: left;
  width: 1000px;
}

div.result {
  display: inline-block;
  margin: 5px;
}
.result {
  padding-top: -3px;
  font-size: 9px;
  text-decoration: none;
}

#search_sidebar {
  float: left;
  width: 280px;
}

#palette_search div {
  padding-bottom: .666em;
}

#palette_search_form a {
  width: 18px;
  height: 18px;
  display: inline-block;
  border: 0px solid gray;
  margin: 0px;
  padding: 0px;
}

#palette_search_form a.selected {
  width: 18px;
  height: 18px;
  border: 3px solid black;
  margin: -3px;
  padding: 0px;
}

#palette_search_form span {
  display: inline-block;
  width: 100%;
  height: 100%;
}
